<div class="container">
  <h1>About Our Data Sources</h1>
  <p>We utilize the following data sources:</p>
  <ul>
    <li>1.Weather Data API (OpenWeatherMap API): This dataset provides real-time and historical weather data for cities worldwide. It includes information such as temperature, humidity, wind speed, and weather conditions.</li>
    <li>2.Public Health Data (Global Health Observatory): This dataset provides health statistics, including disease prevalence, vaccination rates, and healthcare availability by region or country.</li>
  </ul>
  <h2>Entity Relationship Diagram (ERD)</h2>
  <div>
  <h4>Weather Table:</h4>
  <li>id: Primary Key (Integer)</li>
  <li>city_name: String (references geographic region)</li>
  <li>temperature: Float</li>
  <li>humidity: Integer</li>
  <li>wind_speed: Float</li>
  <li>weather_condition: String</li>
  <li>timestamp: Datetime (tracks the time of data collection)</li>
  <h4>Health Data Table</h4>
  <li>id: Primary Key (Integer)</li>
  <li>region: String (references geographic region)</li>
  <li>year: Integer</li>
  <li>disease_prevalence: Float</li>
  <li>vaccination_rate: Float</li>
  <li>healthcare_availability: Integer</li>
  </div>
</div>
