
<h1>About Our Data Sources</h1>
<p>We utilize the following data sources:</p>
<ul>
    <li>Weather Data API (OpenWeatherMap API): This dataset provides real-time and historical weather data for cities worldwide. It includes information such as temperature, humidity, wind speed, and weather conditions.</li>
</ul>
<h2>Entity Relationship Diagram (ERD)</h2>
<div>
    <h4>Weather Table:</h4>
    <ul> <!-- Changed div to ul to hold the list of fields -->
        <li>city_name: String (references geographic region)</li>
        <li>temperature: Float</li>
        <li>humidity: Integer</li>
        <li>wind_speed: Float</li>
        <li>weather_condition: String</li>
        <li>timestamp: Datetime (tracks the time of data collection)</li>
    </ul>
    <h4>City Table</h4>
    <ul> <!-- Changed div to ul to hold the list of fields -->
        <li>country: String</li>
        <li>city_name: String</li>
    </ul>
</div>



